<div class="container-fluid">
  <div class="row">
    <h2 class="text-left col-md-12 mt-2 mb-0 pb-0">Bienvenido a tu banco de datos</h2>
    <p class="text-left col-md-12 mb-0">Aqui tendras disponible los archivos necesarios para crear atajos.</p>
    <hr class="col-md-12">
    <div class="col-md-12 text-right">
      <ng-container *ngIf="isFolder">
        <button class="btn btn-info text-white mr-1" (click)="goBack()">
          <i class="fas fa-arrow-circle-left"></i>
        </button>

      </ng-container>
      <ng-container *ngIf="store">
        <app-addproduct [store]="store"></app-addproduct>
      </ng-container>
      <button class="btn btn-success ml-2" data-toggle="modal" data-target="#exampleModal"><i
          class="fas fa-x3 fa-plus"></i></button>
      <button class="btn btn-warning text-white ml-2" data-toggle="modal" data-target="#exampleModalFolder"><i
          class="fas fa-x3 fa-folder"></i></button>

    </div>
    <ng-container>
      <div class="col-md-12 row">
        <ng-container *ngIf="folders">
          <h3 class="text-left col-md-12 mb-0">Carpetas </h3>
          <hr class="col-md-12">
          <ng-container *ngFor="let folder of folders">
            <div class="col-md-3 mb-2" (click)="openFolder(folder._id)">
              <img class="rounded " src="assets/img/folder2.png" height="210px" width="100%"alt="">

              <p class="center">{{folder.name}}<i class="far fa-trash-alt" style="color:red"(click)="removeFolder(folder['_id'])"></i></p>
              
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="col-md-12 row">
        <ng-container *ngIf="products">
          <h3 class="text-left col-md-12 mb-0">Productos </h3>
          <span class="ml-4">Si desea incrustar todos los productos disponibles tambien puede usar el tag <'products></span>
          <hr class="col-md-12">
          <ng-container *ngFor="let product of products">
            <div class="col-md-3 mb-2">
              <h4 class="center">{{product.productName}}</h4>
              <img class="rounded border " src="http://127.0.0.1:8888/{{product.imgRoute}}" height="200px" width="100%"alt="">
              <div class="row">
                <app-shortcutmodal [element] ="product" class="col-md-4"></app-shortcutmodal>
                <app-updateproduct class="col-md-4" [product]="product"></app-updateproduct>
                <app-deleteproduct class="col-md-4" [product]="product"></app-deleteproduct>
              </div>
                
            </div>
            
          </ng-container>
        </ng-container>
      </div>
      <div class="col-md-12 row">
        <ng-container *ngIf="images">
          <h3 class="text-left col-md-12 mb-0">Imagenes </h3>
          <hr class="col-md-12">
          <ng-container *ngFor="let image of images">
            <div class="col-md-3 mb-2">
              <h4 class="center">{{image.name}}</h4>
              <img class="rounded border" src="http://127.0.0.1:8888/{{image.route}}" height="200px" width="100%"
                alt="">
              <p class="center"><i class="far fa-trash-alt" style="color:red"(click)="removeBankElement(image['_id'])"></i></p>
              
              <app-shortcutmodal [element] ="image" ></app-shortcutmodal>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="col-md-12 row">
        <ng-container *ngIf="videos">
          <h3 class="text-left col-md-12 mb-0">Videos</h3>
          <hr class="col-md-12">
          <ng-container *ngFor="let video of videos">
            <div class="col-md-3 mb-2">
              <h4 class="center">{{video.name}}</h4>
              <video width="100%" height="218" controls class=" border">
                <source src="http://127.0.0.1:8888/{{video.route}}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <p class="center"><i class="far fa-trash-alt" style="color:red"(click)="removeBankElement(video['_id'])"></i></p>
              <app-shortcutmodal [element] ="video" ></app-shortcutmodal>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="col-md-12 row">
        <ng-container *ngIf="pdfs">
          <h3 class="text-left col-md-12 mb-0">PDF</h3>
          <hr class="col-md-12">
          <ng-container *ngFor="let pdf of pdfs">
            <div class="col-md-3">
              <h4 class="center">{{pdf.name}}</h4>
              <img class="rounded " src="assets/img/pdf.png" height="200px" width="210px" alt="">
              <label for="" class="form-control">{{pdf.shortcut}}</label>
              <p class="center"><i class="far fa-trash-alt" style="color:red"(click)="removeBankElement(pdf['_id'])"></i></p>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="col-md-12 row">
        <ng-container *ngIf="rars">
          <h3 class="text-left col-md-12 mb-0">RAR</h3>
          <hr class="col-md-12">
          <ng-container *ngFor="let rar of rars">
            <div class="col-md-3">
              <h4 class="center">{{rar.name}}</h4>
              <img class="rounded " src="assets/img/rar.png" height="200px" width="210px" alt="">
              <label for="" class="form-control">{{rar.shortcut}}</label>
              <p class="center"><i class="far fa-trash-alt" style="color:red"(click)="removeBankElement(rar['_id'])"></i></p>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="col-md-12 row">
        <ng-container *ngIf="others">
          <h3 class="text-left col-md-12 mb-0">Otros</h3>
          <hr class="col-md-12">
          <ng-container *ngFor="let other of others">
            <div class="col-md-3">
              <h4 class="center">{{other.name}}</h4>
              <img class="rounded " src="assets/img/other.png" height="200px" width="210px" alt="">
              <label for="" class="form-control">{{other.shortcut}}</label>
              <p class="center"><i class="far fa-trash-alt" style="color:red"(click)="removeBankElement(other['_id'])"></i></p>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Archivo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <form class="form-group col-md-12 row" [formGroup]="nameForm">
            <input type="text"  class="form-control col-md-12" formControlName="name"
            placeholder="Nombre">
            </form>
            <div class="custom-file col-md-12">
              <input type="file" class="custom-file-input text-left" id="customFile" (change)="selectFile($event)">
              <label class="custom-file-label" for="customFile"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeAddExpenseModalFile>Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="upload()">Agregar al Banco</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Folder-->
<div class="modal fade" id="exampleModalFolder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Carpeta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <form [formGroup]="newFolderForm" class="col-md-12 row">
              <label for="" class="col-md-2">Nombre</label>
              <input type="text" class="form-control col-md-10" formControlName='folderName'>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeAddExpenseModalFolder>Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="newFolder()">Agregar al Banco</button>
      </div>
    </div>
  </div>
</div>