<div class="container-fluid mt-3 mb-5">
    <div class="row">
        <div class="col-md-12  m-0 row">
            <form [formGroup]="newPageForm" class="col-md-12 row">
                <div class="col-md-4 mb-3">Nombre</div>
                    <div class="col-md-6 mb-3">
                      <input type="text" class="form form-control" formControlName="pageName" required>
                      <span *ngIf="pageName.invalid && pageName.dirty">Campo Obligatorio</span>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary form-control" (click)="onSubmit()">Guardar</button>
                    </div>
                    <div class="col-md-4 mb-3">Tipo</div>
                    <div class="col-md-8 mb-3">
                        <select name="" id=""formControlName='pageType' required class="form-control">
                            <option value="main">Pagina Principal</option>
                            <option value="products">Productos</option>
                            <option value="about">Acerca de</option>
                            <option value="sells">Ventas</option>
                            <option value="other">Otros</option>
                        </select>
                        <span *ngIf="pageType.invalid && pageType.dirty">Campo Obligatorio</span>
                    </div>
                    <div class="col-md-2">
                        <!--a [routerLink]="['/admin/templatepreview']" >
                            <button type="button" class="btn btn-info form-control" data-toggle="modal" (click)="preview()" >
                                <i class="far fa-eye"></i>
                            </button>
                        </a-->
                        <button type="button" class="btn btn-info form-control"  (click)="preview()" >
                            <i class="far fa-eye"></i>
                        </button>
                    </div>
                </form>
        <form [formGroup]="editor" (ngSubmit)="onSubmit()" class="col-md-12 row">
            <div class="editor-div col-md-12">
                <quill-editor  formControlName="nombreTienda"></quill-editor>                
            </div>

        </form>
    </div>
    <div [innerHTML]="editorContent">
        
    </div>
    </div>
    
</div>
<div class="mt-5">
<app-footer class=" fixed-bottom"></app-footer>
</div>
