<div class="container-fluid mt-3 mb-5">
    <div class="row">
        <div class="col-md-5 m-0">
        <form [formGroup]="editor" (ngSubmit)="onSubmit()">
            <div class="editor-div">
                <quill-editor  formControlName="nombreTienda"></quill-editor>
                <button type="submit" class="btn btn-primary">Guardar</button>
                
            </div>

        </form>
    </div>
    <div class="col-md-7 border preview-div mb-5" [innerHTML]="editorContent">
        Preview
    </div>
    </div>
    
</div>

<app-footer class=" mt-5"></app-footer>