<div class="container">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-8  text-success mt-1">
            <h3> Agregar Plan</h3>  
        </div>
        <div class="col-md-4 mt-1  text-right">
              <i class="fa fa-plus-square-o fa-2x col-md-6 text-success" aria-hidden="true" [routerLink]="['/newpagew']"></i>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
        <div class="col-md-12 text-left">
          <h2 class="m-0">Planes</h2>
        </div>
        <div class="col-md-12 row mt-3 mb-3 border">
            <div class="col-md-2"><Strong>Nombre</Strong></div>
            <div class="col-md-2"><Strong>Host</Strong></div>
            <div class="col-md-2"><Strong>Almacenamiento(GB)</Strong></div>
            <div class="col-md-2"><Strong>#Paginas</Strong></div>
            <div class="col-md-2"><Strong>#Tiendas</Strong></div>
            <div class="col-md-1"><Strong>Fecha Creacion</Strong></div>

        
            <div class="col-md-2">Nombre</div>
            <div class="col-md-2">SI</div>
            <div class="col-md-2">5</div>
            <div class="col-md-2">5</div>
            <div class="col-md-2">5</div>
            <div class="col-md-1">Fecha</div>
            <div class="col-md-1 row">
              <app-deletetemplate ></app-deletetemplate>
            </div>
        
        </div>
        
        </div>
      </div>
</div>
