<!-- Button trigger modal -->

<i class="fa fa-eraser fa-lg col-md-6 text-danger" aria-hidden="true" data-toggle="modal" [attr.data-target]="'#deleteProductModal'+product['_id']"></i>
  
<!-- Modal -->
<div class="modal fade" [attr.id]="'deleteProductModal'+product['_id']" tabindex="-1" role="dialog" aria-labelledby="deleteproductModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white ">
        <h5 class="modal-title" id="deleteproductModalLabel">Eliminar Producto &nbsp; {{product.productName}}</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h4 >¿Esta seguro de eliminar este producto?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeAddExpenseModal >Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="delete()">Eliminar</button>
      </div>
    </div>
  </div>
</div>