<div class="container">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-8  text-success mt-1">
            <h3> Agregar Plantilla</h3>  
        </div>
        <div class="col-md-4 mt-1  text-right">
              <i class="fa fa-plus-square-o fa-2x col-md-6 text-success" aria-hidden="true" [routerLink]="['/newpagew']"></i>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
        <div class="col-md-12 text-left">
          <h2 class="m-0">Plantillas</h2>
        </div>
        <div class="col-md-12 row mt-3 mb-3 border">
            <div class="col-md-3"><Strong>Nombre</Strong></div>
            <div class="col-md-3"><Strong>Tipo</Strong></div>
            <div class="col-md-3"><Strong>Fecha</Strong></div>
            <div class="col-md-3"><Strong>Opciones</Strong></div>
        
            <div class="col-md-3">Nombre</div>
            <div class="col-md-3">Tipo</div>
            <div class="col-md-3">Fecha</div>
            <div class="col-md-3 row">
              
              <app-deletetemplate class="col-md-6"></app-deletetemplate>
            </div>
        
        </div>
        
        </div>
      </div>
</div>
