<nav class="navbar navbar-expand-lg navbar-light bg-light  m-0 p-0" >
        <a class="navbar-brand text-lef col-lg-6 col-md-4 d-none d-sm-block" [routerLink]="['/login']">Inicio</a>
        <a class="navbar-brand text-right col-lg-6 col-md-4 float-right " [routerLink]="['/register']">Registrate</a>
</nav>
<div class="data col-xl-12 col-lg-12 col-dm-12 col-sm-12 col-xs-12">
<img src="assets/img/LOGODARK.png" alt="" class="img-fluid data-element d-none d-sm-block" height="100px" width="100px">
<p class="data-brand d-none d-sm-block">OwnsShop</p>
<h2 class="data-text d-none d-sm-block">Iniciar Sesion</h2>
<div class="col-md-12 text-center mt-4 d-block d-sm-none">
  <h2>OwnShop</h2> <p>Iniciar Sesion</p>  
</div>
<!--Form-->
<div>
<div class="form-group">
  <label for="inputAddress2">Correo</label>
  <input type="email" class="form-control" id="inputAddress2" placeholder="JohnDoe@gmail.com">
</div>
<div class="form-group">
    <label for="inputAddress2">Contraseña</label>
    <input type="password" class="form-control" id="inputAddress2" placeholder="MiContraseña">
  </div>
<div class="form-group">
  <div class="form-check">
    <label class="form-check-label text-center" for="gridCheck">
        Al crear una cuenta, aceptas nuestros Condiciones de Uso y has leído y comprendido la Política de Privacidad
    </label>
  </div>
</div>
<a [routerLink]="['/main']"><button type="submit" class="btn btn-success form-control">Iniciar Sesion</button></a>

</div>
<!--End Form-->
</div>
<div  class="fixed-bottom">
  <app-footer></app-footer>
</div>
