<router-outlet>
<div class="container">
    <div class="row ">
        <div class="col-md-8 mt-3">
            <h2>Editando -Nombre tienda</h2>
        </div>
        <div class="col-md-4 text-left mt-3">
          <app-deletestore></app-deletestore>
      </div>
        <div class="col-md-12 ">
            <app-updatedata ></app-updatedata><!--Enviar id y validar si es una nueva o atualizacion en backend-->
        </div>
        
        
    </div>
    <app-pages></app-pages>
    <app-products></app-products>
</div>

<app-footer></app-footer>
