<router-outlet>
<ng-container *ngIf="store">
<div class="container">
    <div class="row ">
        <div class="col-md-12 mt-3">
            <h2>{{store.storeName}}</h2>
        </div>
        <div class="col-md-8 ">
            <form [formGroup]="newEditForm" class="col-md-12 row">
                <div class="col-md-2 mb-3"><label for="">Nombre de la tienda</label> </div>
                <div class="col-md-10 mb-3"><input type="text" class="form form-control" formControlName='storeName'
                        required></div>
                <div class="col-md-2 mb-3"><label for="">Categoria</label> </div>
                <div class="col-md-10 mb-3">
                    <select name="" id="" class="form-control float-left" formControlName='category' required>
                        <option value="Tecnologia" selected>Tecnologia</option>
                        <option value="Vestimenta">Vestimenta</option>
                        <option value="Deportes">Deportes</option>
                        <option value="Muebles">Muebles</option>
                        <option value="Hogar y Jardineria">Hogar y jardineria</option>
                        <option value="Electrodomesticos">Electrodomesticos</option>
                        <option value="Juegos">Juegos</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
                <div class="col-md-12 mb-3">Descripcion</div>
                <div class="col-md-12 mb-3">
                    <textarea name="" id="" cols="30" rows="5" class="form form-control"
                        formControlName='storeDescription' required></textarea>
                </div>
            </form>
        </div>
        <div class="col-md-4 text-left ">
            <button class="btn btn-primary form-control mb-3" (click)="updateStore()">Actualizar informacion de la tienda</button>
            <a [routerLink]="['/storepage',store['_id']]"><button class="btn btn-info form-control mb-3" >Ver Tienda</button></a>
            <ng-container *ngIf="store">
            <app-deletestore [store]='store'></app-deletestore>
            </ng-container>
            <a [routerLink]="['/databank',store['_id']]">
                <button class="form-control btn-link mt-3" >Banco de datos</button>
            </a>
            
            
         </div>
        
        
        
        
    </div>
    
    <app-pages [store]='store'></app-pages>
    <app-products [store]='store'></app-products>
    <app-categories [store]='store'></app-categories>
    
    
</div>
</ng-container>
<app-footer class="mt-5"></app-footer>
