<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 p-0"><app-sidebar></app-sidebar></div>
    <div class="col-md-9 p-0">
        <h2 class="center m-0 p-0">Bienvenido a OwnShop</h2> 
        <a href=""class="center m-0 p-0 "><img src="assets/img/LOGODARK.png" alt=""  height="500px" width="500px"></a>
        <p class="center m-0 p-0">Perrito usted no ha creado nada,</p>
        <p class="center m-0 p-0">¿Le gustaria crear una tienda nueva para ganar varas?</p>
        <p class="center m-0 p-0"> <a href="">Claro que si mi dog!</a> </p>


    </div>
    
  </div>  
</div>


   


