<div class="row mb-3">
    <div class="col-md-2 mb-3"><label for="">Nombre de la tienda</label> </div>
    <div class="col-md-10 mb-3"><input type="text" class="form form-control"></div>
    <div class="col-md-2 mb-3"><label for="">Categoria</label> </div>
    <div class="col-md-10 mb-3">
        <select name="" id="" class="form-control float-left">
            <option value="" selected>Cat1</option>
            <option value="">Cat2</option>
        </select>
    </div>
    <div class="col-md-12 mb-3">Descripcion</div>
    <div class="col-md-12 mb-3">
        <textarea name="" id="" cols="30" rows="5" class="form form-control"></textarea>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-4 ">
        <button class="btn btn-success form-control">Guardar</button>
    </div>
</div>