<!--div class="container mt-0 ">
    <div class="row">
        <h1 class="center col-md-12 m-0 p-0">Panel de Administracion</h1>
        <div class="col-md-6 border pt-4">
        <a class="center" [routerLink]="['/admin/companies']">
                <div class="card " style="width: 22rem;">
                <img class="c-s" src="assets/img/emp.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text center">Empresas</p>
                </div>
              </div>
        </a>
            
        </div>
        <div class="col-md-6 border pt-4">
          <a class="center" [routerLink]="['/admin/templates']" >
                <div class="card " style="width: 22rem;">
                <img class="c-s" src="assets/img/temp.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text center">Plantillas</p>
                </div>
              </div>
        </a>
            
        </div>
        <div class="col-md-12 border pt-4">
          <a class="center" [routerLink]="['/admin/plans']">
                <div class="card " style="width: 22rem;">
                <img class="c-s" src="assets/img/pln.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text center">Planes</p>
                </div>
              </div>
        </a>
            
        </div>
    </div>
</div-->
<app-templates></app-templates>
<app-plans></app-plans>
<app-companies></app-companies>
<app-footer></app-footer>