<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/img/user.png" width="30" height="30" class="d-inline-block align-top" alt="">
      OWNSHOP
    </a>
    <ng-container *ngIf="user">
      <div class="form-inline">
          {{user.first_name}} &nbsp; {{user.last_name}}
          <button class="btn btn-success my-2 my-sm-0 mr-2 ml-2 d-none d-sm-block" (click)="logout()">Cerrar Sesion</button>
      </div> 
    </ng-container>
</nav>
<div class="container-fluid">
    <h2 class="center">Mis Compras</h2>
<ng-container *ngIf="orders">
<table class="table border">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Desc</th>
        <th scope="col">Precio</th>
        <th scope="col">Categoria</th>
        <th scope="col">Unidades</th>
        <th scope="col">Fecha</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of orders">
      <ng-container *ngFor="let product of order.products">
      <tr>
        <th scope="row">1</th>
        <td>{{product.productName}}</td>
        <td>{{product.productDesc}}</td>
        <td>{{product.price}} &nbsp; L.</td>
        <td>{{product.category}}</td>
        <td>{{product.units}}</td>
        <td>{{product.date | date:"dd-mm-yyyy"}}</td>
        <td>{{product.total}} &nbsp; L. </td>
      </tr>
    </ng-container>
    </ng-container>
    </tbody>
</table>
    
    

</ng-container>
<ng-container  *ngIf="!orders">
    <h3 class="center">Todavia no ha realizado ninguna compra</h3>
</ng-container>
</div>
