<!-- Button trigger modal -->

  <i class="fa fa-window-restore text-primary fa-2x" aria-hidden="true" data-toggle="modal" data-target="#exampleModal"></i>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" >
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Pagina</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                  
                  <form [formGroup]="newPageForm" class="col-md-12 row">
                    <div class="col-md-4 mb-3">Nombre</div>
                    <div class="col-md-8 mb-3">
                      <input type="text" class="form form-control" formControlName="pageName" required>
                      <span *ngIf="pageName.invalid && pageName.dirty">Campo Obligatorio</span>
                    </div>
                    <div class="col-md-4 mb-3">Tipo</div>
                    <div class="col-md-8 mb-3">
                      <select name="" id=""formControlName='pageType' required class="form-control">
                          <option value="main">Pagina Principal</option>
                          <option value="products">Productos</option>
                          <option value="about">Acerca de</option>
                          <option value="sells">Ventas</option>
                          <option value="other">Otros</option>
                      </select>
                      <span *ngIf="pageType.invalid && pageType.dirty">Campo Obligatorio</span>
                  </div>
                  
                    <div class="row">
                      <div class="card  col-md-5 col-lg-5 col-xl-5 col-sm-12 col-xs-12 m-3 " style="width: 14rem;">
                        <img class="card-img-top" height="250px" width="100%" src="assets/img/newTemplate.jpg" alt="Card image cap">
                          <div class="card-body p-2">
                            <h5 class="card-title">Plantilla en blanco</h5>
                            <p class="card-text">Plantilla vacia</p>
                            <div class="radio radio-primary">
                                <label >
                                    Seleccionar<input type="radio" name="tempId" id="Radios2" value="blank" class="ml-4" formControlName="tempId" required>
                                    <span *ngIf="tempId.invalid && tempId.dirty">Campo Obligatorio</span>
                                </label>
                               
                              </div>
                          </div>
                        </div>
                        <ng-container *ngFor="let template of templates" >
                          <div class="card  col-md-5 col-lg-5 col-xl-5 col-sm-12 col-xs-12 m-3 " style="width: 14rem;">
                          <img class="card-img-top" height="250px" width="100%" src="http://127.0.0.1:8888/{{template.img_route}}" alt="Card image cap">
                            <div class="card-body p-2">
                              <h5 class="card-title">{{template.templateName}}</h5>
                              <p class="card-text">{{template.templateDescription}}</p>
                              <div class="radio radio-primary">
                                  <label >
                                      Seleccionar<input type="radio" name="tempId" id="Radios2" value="{{template['_id']}}" class="ml-4" formControlName="tempId" required>
                                      <span *ngIf="tempId.invalid && tempId.dirty">Campo Obligatorio</span>
                                  </label>
                                 
                                </div>
                            </div>
                          </div>
                        </ng-container>
                    </div>
                  
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="newPage()">Crear</button>
        </div>
      </div>
    </div>
  </div>
