
<nav id="sidebar" class="sidebar" >
    <div class="sidebar-content">
        <div class="sidebar-header">
          <a href="#" class="center">OwnShop</a>
        </div>
  
        <div class="sidebar-profile">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="assets/img/LOGOWhite.png" alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">
              <strong>Nombre Empresa</strong>
            </span>
            <span class="user-role">Nombre Propietario</span>
            <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Tipo de Plan</span>
            </span>
          </div>
        </div>
        
        <div class="sidebar-menu">
          <ul>
            <li  class="active ">
              <span >General</span>
              <a  href="#" >
                <i class="fas fa-city"></i>
                <span>Mi Empresa</span>
              </a>
              <a  href="#" >
                <i class="fas fa-store-alt"></i>
                <span>Mis Tiendas</span>
              </a>
              <a  href="#" >
                <i class="far fa-user"></i>
                <span>Mi Cuenta</span>
              </a>
              <a  href="#" >
                <i class="fas fa-folder-plus"></i>
                <span>Nueva Tienda</span>
              </a>

              
            </li>
          </ul>
        </div>
      
    </div>
    <div class="sidebar-footer">
      
      <div>
        <a href="#">
          Mi Cuenta
        </a>
      </div>
      <div>
        <a href="#">
          Salir
        </a>
      </div>
    </div>
  </nav>
