<div class="container">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-left">
          <h2 class="m-0">Planes</h2>
        </div>
          <div class="col-md-8  text-success mt-1">
            <h3> Agregar Plan</h3>  
        </div>
        <div class="col-md-4 mt-1  text-right">
              <app-newplan></app-newplan>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
        <div class="col-md-12 row mt-3 mb-3 border">
            <div class="col-md-2 mb-1 bg-success text-white"><Strong>Nombre</Strong></div>
            <div class="col-md-2 mb-1 bg-success text-white"><Strong>Host</Strong></div>
            <div class="col-md-2 mb-1 bg-success text-white"><Strong>Almacenamiento(GB)</Strong></div>
            <div class="col-md-1 mb-1 bg-success text-white"><Strong>#Paginas</Strong></div>
            <div class="col-md-1 mb-1 bg-success text-white"><Strong>#Tiendas</Strong></div>
            <div class="col-md-2 mb-1 bg-success text-white"><Strong>Se Creo</Strong></div>
            <div class="col-md-1 mb-1 bg-success text-white"><Strong>Eliminar</Strong></div>
            <div class="col-md-1 mb-1 bg-success text-white"><Strong>Actualizar</Strong></div>
            <ng-container *ngFor="let plan of plans">
            <div class="col-md-2 mb-1">{{plan.name}}</div>
            <div class="col-md-2 mb-1">
              <ng-container *ngIf="plan.host"> SI</ng-container>
              <ng-container *ngIf="!plan.host"> No</ng-container>
            </div>
            <div class="col-md-2 mb-1">{{plan.saveData}}</div>
            <div class="col-md-1 mb-1">{{plan.pagesNumber}}</div>
            <div class="col-md-1 mb-1">{{plan.templatesNumber}}</div>
            <div class="col-md-2 mb-1">{{plan.dateCreated | date:"MM/dd/yy"}}</div>
            <div class="col-md-1 mb-1 ">
              <app-deleteplan [plan]="plan" class="col-md-6"></app-deleteplan>
            </div>
            <div class="col-md-1 mb-1 ">
              <app-editplan  [plan]="plan" class="col-md-6"></app-editplan>
            </div>
            <div class="col-md-12 m-0 p-0">
              <hr>
            </div>
          </ng-container>
        
        </div>
        
        </div>
      </div>
</div>
