<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bell Bootstrap Template</title>
  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">




</head>

<body>
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-dark bg-success fixed-top p-10 m-0">
        <a class="navbar-brand" href="#">
            <img src="assets/img/LOGOWhite.png" width="30" height="30" class="d-inline-block align-top" alt="">
            OwnShop
        </a>
        <form class="form-inline text-white">
          <a class="nav-link text-white" [routerLink]="['login']">Iniciar Sesion</a>
          <a class="nav-link text-white " [routerLink]="['register']" >Registrate</a>
          <a class="nav-link text-success btn btn-light " [routerLink]="['registerEnterprise']" >Unete a nosotros</a>
        </form>
    </nav>
    
    </div>
  </div>
  
  <!-- ======= Hero Section ======= -->
  <section class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <a class="hero-brand" href="index.html" title="Home"><img alt="Bell Logo" src="assets/img/LOGOWhite.png"
              height="150px" width="150px" class="m-0"></a>
        </div>
      </div>

      <div class="col-md-12 m-0">
        <h1>
          Crea tu sitio y crece.
        </h1>

        <p class="tagline m-0">
          OwnShop te da las herramientas para crear tu sitio web de forma rapida y sencilla.
        </p>
        <a class="btn btn-success scrollto" href="#">¡Inicia Ya!</a>
      </div>
    </div>

  </section>
  <!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="index.html"><img src="assets/img/LOGOWhite.png" alt=""></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Bell</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#about">Acerca de</a></li>

          <li><a href="#contact">Contactanos</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->

      <nav class="nav social-nav pull-right d-none d-lg-inline">
        <a href="#">
          <i class="fa fa-twitter"></i></a> <a href="#">
          <i class="fa fa-facebook"></i></a> <a href="#">
          <i class="fa fa-linkedin"></i></a> <a href="#">
          <i class="fa fa-envelope"></i></a>
      </nav>
    </div>
  </header>
  <!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section class="about" id="about">

      <div class="row">
        <div class="col-md-5 cent-data ">
          <h2 class="text-center">¿Por que Ownshop?</h2>
          <strong>
            <p class="cent-data text-center">
              Combinaciones infinitas, para un mundo lleno de opciones.
              Tu página web nunca se quedará pequeña, edita su copdigo fuente, añade plugins y mucho mas
              todo para que expandas tus limites.</p>
              <img src="assets/img/LOGO OwnShop.png" height="250" width="250" alt="" class="img-fluid img-lm">
          </strong>

        </div>
        <div class="col-md-7">
          <img src="assets/img/fake.jpg" class="img-fluid rounded  p-0" alt="">
        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Welcome Section ======= -->
    <section class="welcome text-center">
      <h2>Crea sitios para distintos dispositivos en segundos</h2>
      <p>
        No importa si no sabes codificar, nosootrs de brindaremos las herramientas necesarias
      </p>
      <img alt="Bell - A perfect theme" class="gadgets-img hidden-md-down" src="assets/img/gadgets.png">
    </section><!-- End Welcome Section -->

    <!-- ======= Features Section ======= -->
    <section class="features" id="features">

      <div class="container">
        <h2 class="text-center">
          Herramientas
        </h2>

        <div class="row">
          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-rocket"></span>
                </div>
              </div>

              <div>
                <h3>
                  Diseños editables
                </h3>

                <p>
                  Diseña y crea tu propia página web con calidad profesional.                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-envelope"></span>
                </div>
              </div>

              <div>
                <h3>
                  Diseños responsivos
                </h3>

                <p>
                  Para que tu sitio este en todos lados
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-bell"></span>
                </div>
              </div>

              <div>
                <h3>
                  Ideas Innovadoras
                </h3>

                <p>
                  Ya sea que estés promocionando tu negocio, mostrando tu trabajo,
                   abriendo tu tienda online o comenzando un blog, puedes hacerlo todo               </p>
              </div>
            </div>
          </div>
        </div>

        
      </div>

    </section><!-- End Features Section -->


    <!-- ======= Team Section ======= -->
    <section class="team" id="team">
      <div class="container">
        <h2 class="text-center">
          Nuestros Clientes
        </h2>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="assets/img/team-1.jpg">
                <div class="card-title-wrap">
                  <span class="card-title">John Doe</span> <span class="card-text">Dueño de E-Commerce</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Conectate
                  </h4>

                  <nav class="social-nav">
                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a
                      href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                  </nav>

                  <p>
                    Nunca pense que crear un sutio web para mi empresa seria tan facil.
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="assets/img/team-2.jpg">
                <div class="card-title-wrap">
                  <span class="card-title">Johana Doe</span> <span class="card-text">Directora de Arte</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Conectate
                  </h4>

                  <nav class="social-nav">
                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a
                      href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                  </nav>

                  <p>
                    Veder mis obras de arte nunca fue tan facil, muchas gracias OwnShop.
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="assets/img/team-3.jpg">
                <div class="card-title-wrap">
                  <span class="card-title">Agente Smith</span> <span class="card-text">Agente  de la CIA</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Conectate
                  </h4>

                  <nav class="social-nav">
                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a
                      href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                  </nav>

                  <p>
                    Una tienda en linea es la mejor fachada para mi negocio de venta de organos, muchas gracias OwnShop.
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="assets/img/team-4.jpg">
                <div class="card-title-wrap">
                  <span class="card-title">Bibian Smith</span> <span class="card-text">Dueña de Tienda E-Commerce</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Conectate
                  </h4>

                  <nav class="social-nav">
                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a
                      href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                  </nav>

                  <p>
                    Por fin puedo administrar mi propio sitio web para vender productos, OwnSHop es o mejor.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Team Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-left text-center">
            <p class="copyright-text">
              &copy; Copyright <strong>OWNSHOP</strong>.Todos los derechos reservados
            </p>
            <div class="credits">
              <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bell
            -->
            </div>
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="index.html">Inicio</a>
              </li>

              <li class="list-inline-item">
                <a href="#about">Acerca de</a>
              </li>

              <li class="list-inline-item">
                <a href="#features">Registro</a>
              </li>

              <li class="list-inline-item">
                <a href="#portfolio">Iniciar Sesion</a>
              </li>

              
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/tether/js/tether.min.js"></script>
  <script src="assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/lockfixed/jquery.lockfixed.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/superfish/superfish.min.js"></script>
  <script src="assets/vendor/hoverIntent/hoverIntent.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>