<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>

    <!-- A sidebar -->
    <ng-sidebar [(opened)]="opened" *ngIf="showNav">
        <h2 class="center m-1 text-white">Ownshop</h2>
        <h3 class="text-white d-block d-sm-none center m-1">Nombre Usuario</h3>
        <hr>
        <a class="center mb-4"><button (click)="toggleSidebar()" class="btn-trans"><img class="img-responsive img-rounded"
                src="assets/img/LOGOWhite.png" alt="User picture" height="50px" width="50px"></button>
        </a>
        <hr>
        <ng-container *ngIf='!admin'>
        <ul>
            <li >
                <a [routerLink]="['/main']">
                    <i class="fas fa-city"></i>
                    <span>Mi Empresa</span>
                </a>
            </li> <br>
            <li >
                <a [routerLink]="['/main']">
                    <i class="fas fa-store"></i>
                    <span>Mis tiendas</span>
                </a>
            </li> <br>
            <li >
                <a [routerLink]="['/profile']">
                    <i class="far fa-user"></i>
                    <span>Mi cuenta</span>
                </a>
            </li> <br>
            <li >
                <a [routerLink]="['/newstore']">
                    <i class="fas fa-folder-plus"></i>
                    <span>Nueva tienda</span>
                </a>
            </li> <br>
        </ul>
    </ng-container>
    <ng-container *ngIf='admin'>
        <ul>
            <li >
                <a [routerLink]="['/main']">
                    <i class="fas fa-city"></i>
                    <span>Empresas</span>
                </a>
            </li> <br>
            <li >
                <a [routerLink]="['/main']">
                    <i class="fas fa-store"></i>
                    <span>Plantillas</span>
                </a>
            </li> <br>
            <li >
                <a [routerLink]="['/profile']">
                    <i class="far fa-user"></i>
                    <span>Usuarios</span>
                </a>
            </li> <br>
            <li >
                <a [routerLink]="['/newstore']">
                    <i class="fas fa-folder-plus"></i>
                    <span>Planes</span>
                </a>
            </li> <br>
        </ul>
    </ng-container>
        
            <hr>
        <ul>    
            <li>
                <a (click)="toggleSidebar()" >
                    <i class="far fa-times-circle"></i>
                    <span>Cerrar Panel</span>  
                </a>  
            </li>
            <li>
                <a class="d-block d-sm-none text-white" (click)="logout()"><i class="fas fa-sign-out-alt"></i>Cerrar Sesion</a>
            </li>
    

        </ul><hr>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
        <nav class="navbar navbar-success bg-success m-0 p-0" *ngIf="showNav">
            <a class="">
                <button (click)="toggleSidebar()" class="btn-trans border-0"><img src="assets/img/LOGOWhite.png" alt=""
                    height="50px" width="50px"><span>Administrar</span></button>
            </a>
            <div class="form-inline my-2 my-lg-0">
                <label for="" class="text-white d-none d-sm-block" [routerLink]="['/profile']">Nombre Usuario</label>
                <button class="btn btn-outline-light my-2 my-sm-0 mr-2 ml-2 d-none d-sm-block" (click)="logout()">Cerrar Sesion</button>
            </div>
          </nav>
        
        <router-outlet></router-outlet>
    </div>

</ng-sidebar-container>




