<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addnewModal">
  Nueva Plantilla
</button>

<!-- Modal -->
<div class="modal fade" id="addnewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Nueva Plantilla</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <form [formGroup]='newTemplateForm' class="col-md-12 row">
            <div class="col-md-2 mb-3 text-left">Nombre</div>
            <div class="col-md-10 mb-3 ">
              <input type="text" class="form form-control"  formControlName='templateName'required>
              <span *ngIf="templateName.invalid && templateName.dirty">Campo Obligatorio</span>
            </div>
            <div class="col-md-2 mb-3 text-left">Descripcion
            </div>
            <div class="col-md-10 mb-3 ">
              <input type="text" class="form form-control"  formControlName='templateDescription'required>
              <span *ngIf="templateDescription.invalid && templateDescription.dirty">Campo Obligatorio</span>
            </div>
            <div class="col-md-2 mb-3 text-left" >Image de plantilla</div>
            <div class="col-md-10">
              <div class="custom-file">
                <input type="file" class="custom-file-input text-left" id="customFile" (change)="selectImage($event)">
                <label class="custom-file-label" for="customFile"></label>
              </div>
            </div>
            <div class="col-md-12  m-0">
              HTML<ace-editor  mode="html" style=" min-height: 300px;"  formControlName='html' ></ace-editor>
          </div>
          <div class="col-md-12  m-0">
              CSS<ace-editor  mode="css" style=" min-height: 300px; overflow: auto;"  formControlName='css'></ace-editor>
          </div>
          <div class="col-md-12 mb-5">
              JS<ace-editor  mode="javascript" style=" min-height: 300px; overflow: auto;"  formControlName='js'></ace-editor>
          </div>
          </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeAddExpenseModal>Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()"  [disabled]="!newTemplateForm.valid">Agregar</button>
      </div>
    </div>
  </div>
</div>