<div class="container">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-left ">
          <h2 class="m-0">Usuarios</h2>
        </div>
          <div class="col-md-8  text-success mt-1">
            <h3> Agregar Usuario</h3>  
        </div>
        <div class="col-md-4 mt-1  text-right">
              <app-newuser></app-newuser>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
        <div class="col-md-12 row mt-3 mb-3 border">
            <div class="col-md-2 mb-1 bg-success text-white"><Strong>Nombre</Strong></div>
            <div class="col-md-2 mb-1 bg-success text-white"><Strong>Tipo</Strong></div>
            <div class="col-md-2 mb-1 bg-success text-white"><Strong>Plan</Strong></div>
            <div class="col-md-2 mb-1 bg-success text-white"><Strong>Se Creo</Strong></div>
            <div class="col-md-2 mb-1 bg-success text-white"><Strong>Eliminar</Strong></div>
            <div class="col-md-2 mb-1 bg-success text-white"><Strong>Actualizar</Strong></div>
            <ng-container *ngFor="let user of users">
            <div class="col-md-2 mb-1">{{user.first_name}} &nbsp; {{user.last_name}}</div>
            <div class="col-md-2 mb-1">{{user.user_type | titlecase}}</div>
            <div class="col-md-2 mb-1">
                <ng-container *ngIf="user.user_type=='admin'">
                    Admin
                </ng-container>
                <ng-container *ngIf="user.user_type!='admin'">
                    {{user.plan | titlecase}}
                </ng-container>
            </div>
            <div class="col-md-2 mb-1">{{user.dateCreated | date:"MM/dd/yy"}}</div>
            <div class="col-md-2 mb-1 ">
              <app-deleteuser [user]="user"></app-deleteuser>
            </div>
            <div class="col-md-2 mb-1 ">
              <app-edituser [user]="user"></app-edituser>
            </div>
            <div class="col-md-12 m-0 p-0">
              <hr>
            </div>
          </ng-container>
        
        </div>
        
        </div>
      </div>
</div>
