<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="m-0">Empresas</h2>
            </div>

            <div class="col-md-8  text-success mt-1">
                <h3>Agregar Empresa</h3>
            </div>
            <div class="col-md-4 mt-1  text-right">
                <app-newcompany></app-newcompany>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
        
        <div class="col-md-12 border row">
            <div class="col-md-5 mb-1 bg-success text-white"><strong>Empresas</strong></div>
            <div class="col-md-5 mb-1 bg-success text-white"><strong>Fecha Creacion</strong></div>
            <div class="col-md-2 mb-1 bg-success text-white"><strong>Opciones</strong></div>

            <ng-container *ngFor="let company of companies">
                <div class="col-md-5"><a [routerLink]="['/profile', company]">{{company.companyName}}</a></div>
                <div class="col-md-5">{{company.date | date:"MM/dd/yy"}}</div>
                <div class="col-md-2 row ">
                    <div class="col-md-6  ">
                        <app-deletecompany [company]="company"></app-deletecompany>
                    </div>
                    <div class="col-md-6  ">
                        <app-editcompany [company]="company"></app-editcompany>
                    </div>

                </div>
                <div class="col-md-12 m-0 p-0">
                    <hr>
                </div>
            </ng-container>
        </div>
    </div>
</div>
</div>