<div class="container-fluid mt-2 m-2">
  <div class="row">
    <ng-container *ngIf='template'>
      <div class="col-md-12">
        <a class="center">
          <img src="http://127.0.0.1:8888/{{template.img_route}}" alt="" height="250px" width="150px" class="img-thumbnail"><br>
          
        </a>
        
      </div>
      <div class="col-md-12 text-center">
        <a class="center">
          Nombre de la plantilla:{{template.templateName}} <br>
          Descripcion de la plantilla:{{template.templateDescription}} <br>
          Fecha de Creacion:{{template.date}}  <br>
        </a>
      </div>
      
    </ng-container>
  </div>
</div>
<div class="Navegacion">

</div>
<div   [ngClass]='classes'>
    <nav class="alert-success text-center">Navegacion</nav>
    <div [innerHTML]='html | safehtml'>

    </div>
    <div class="row center">
        <ng-container *ngFor="let store of products">
        <div class="card m-2 col-md-4 col-lg-3 col-xl-3 col-sm-12 col-xs-12 " style="width: 18rem;">
        <img class="card-img-top" src="assets/img/cover.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">OwnShop Product</h5>
            <p class="card-text">Descripcion del Producto <strong>$999</strong></p>
            
            <a [routerLink]="['/editstore']" class="btn btn-warning m-1">Comprar</a>
          </div>
        </div>
      </ng-container>
    </div>
</div>

<!--Compras-->
