<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-left">
      <h2 class="m-0">Paginas</h2>
    </div>
    <div class="col-md-8  text-success mt-1">
      <h3> Agregar Pagina</h3>  
  </div>
  <ng-container *ngIf="!maxPages">
  <div class="col-md-4 mt-1 row ">
      <ng-container *ngIf="store">
        <app-addtemplate [store]="store" class="col-md-6"></app-addtemplate>
        <i class="fa fa-plus-square-o fa-2x col-md-6 text-success" aria-hidden="true" [routerLink]="['/newpagew',store]"></i>
      </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="maxPages">
  <span style="color: red;">Maximo numeo de paginas alcanzado</span>
</ng-container>
  <div class="col-md-12">
    <hr>
  </div>
  <div class="col-md-12 row mt-3 mb-3 border">
      <div class="col-md-3"><Strong>Nombre</Strong></div>
      <div class="col-md-3"><Strong>Tipo</Strong></div>
      <div class="col-md-3"><Strong>Fecha</Strong></div>
      <div class="col-md-3"><Strong>Opciones</Strong></div>
      <ng-container *ngFor="let page of pages">
        <div class="col-md-3">{{page.pageName}}</div>
        <div class="col-md-3">{{page.pageType}}</div>
        <div class="col-md-3">{{page.date | date:"MM/dd/yy"}}</div>
        <div class="col-md-3 row">
          <a [routerLink]="['/editstore/code/editcode',page['_id']]" class="col-md-6">
              <i class="fa fa-code fa-lg  text-success" aria-hidden="true"></i>
          </a>
          <app-deletetemplate class="col-md-6" [page]="page"></app-deletetemplate>
        </div>
      </ng-container>
      
  
  </div>
  
  </div>
</div>
