<div class="container">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-8  text-success mt-1">
            <h3> Agregar Plantilla</h3>  
        </div>
        <div class="col-md-4 mt-1  text-right">
          <app-addnewtemplate></app-addnewtemplate>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
        <div class="col-md-12 text-left">
          <h2 class="m-0">Plantillas</h2>
        </div>
        
        <div class="col-md-12 row mt-3 mb-3 border">
            <div class="col-md-3 mb-1"><Strong>Nombre</Strong></div>
            <div class="col-md-3 mb-1"><Strong>Tipo</Strong></div>
            <div class="col-md-3 mb-1"><Strong>Fecha</Strong></div>
            <div class="col-md-3 mb-1"><Strong>Opciones</Strong></div>
             
            <ng-container *ngFor="let template of templates">
              <div class="col-md-3 mb-1">{{template.templateName}}</div>
              <div class="col-md-3 mb-1">{{template.templateDescription}}</div>
              <div class="col-md-3 mb-1">{{template.date}}</div>
              <div class="col-md-3 mb-1 row">
                <app-removetemplate class="col-md-6" [template]="template"></app-removetemplate>
                <button type="button" class="btn btn-success" data-toggle="modal" >
                  <i class="far fa-eye"></i>
                </button>
              </div>
            </ng-container>
            
            
        
        </div>
        
        </div>
      </div>
</div>

<!--h2>oks</h2>
<button class="btn btn-primary">
  works
</button-->