<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mt-3 mb-0 ">
            <h2 class="mb-0">Editando Nombre Pagina</h2>
        </div>
        <div class="col-md-4 mt-3 mb-0 ">
            <button class="btn btn-success mr-3" (click)="edit()">Guardar</button>
            <button class="btn btn-danger mr-3">Cancelar</button>
        </div>
        <div class="col-md-12">
            <div class="row">
                <form [formGroup]="editPageForm" class="col-md-12 row">
                    <div class="col-md-4 mb-3">Nombre</div>
                    <div class="col-md-8 mb-3">
                      <input type="text" class="form form-control" formControlName="pageName" required>
                      <span *ngIf="pageName.invalid && pageName.dirty">Campo Obligatorio</span>
                    </div>
                    <div class="col-md-4 mb-3">Tipo</div>
                    <div class="col-md-8 mb-3">
                      <input type="text" class="form form-control" formControlName="pageType" required>
                      <span *ngIf="pageType.invalid && pageType.dirty">Campo Obligatorio</span>
                    </div>
                <div class="col-md-12  m-0">
                    HTML<ace-editor  mode="html" style=" min-height: 300px; overflow: auto;"  formControlName="html"></ace-editor>
                </div>
                <div class="col-md-12  m-0">
                    CSS<ace-editor  mode="css" style=" min-height: 300px; overflow: auto;"  formControlName="css"></ace-editor>
                </div>
                <div class="col-md-12 mb-5">
                    JS<ace-editor  mode="javascript" style=" min-height: 300px; overflow: auto;"  formControlName="js"></ace-editor>
                </div>
                </form>
            </div>
        </div>
        
        
        
    </div>
</div>

<app-footer></app-footer>