<!-- Button trigger modal -->

<i class="fas fa-edit fa-lg text-success" aria-hidden="true" data-toggle="modal" [attr.data-target]="'#updateProductModal'+product['_id']"></i>

<!-- Modal -->
<div class="modal fade" [attr.id]="'updateProductModal'+product['_id']" tabindex="-1" role="dialog" aria-labelledby="updateProductLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="updateProductLabel">Actualizar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
              <div class="row">
                <form class="col-md-12 row" [formGroup]="updateProductForm">
                  <div class="col-md-4 mb-3">Nombre</div>
                  <div class="col-md-8 mb-3"><input type="text" class="form-control" formControlName="productName" required></div>
                  <div class="col-md-4 mb-3">Descripcion</div>
                  <div class="col-md-8 mb-3"><textarea name="" id="" cols="30" rows="3" class="form-control" formControlName="productDesc" required></textarea></div>
                  <div class="col-md-4 mb-3">Precio</div>
                  <div class="col-md-8 mb-3"><input type="text" class="form-control" formControlName="price" required></div>
                  <div class="col-md-4 mb-3">Categoria</div>
                  <div class="col-md-8 mb-3">
                    <ng-container *ngIf="categories">
                      <select name="" id="" formControlName="category" required class="form-control">
                        <ng-container *ngFor="let cat of categories">
                          <option value="{{cat.name}}">{{cat.name}}</option>
                        </ng-container>
                      </select>
                    </ng-container>
                    
                    <span *ngIf="category.invalid && category.dirty">Campo Obligatorio</span>
                  </div>
                  <div class="col-md-12">
                      <div class="custom-file">
                          <input type="file" class="custom-file-input" id="customFile" (change)="selectImage($event)">
                          <label class="custom-file-label" for="customFile" >Seleccionar Imagen del producto</label>
                        </div>
                  </div>
                </form>
                  
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeAddExpenseModal>Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="updateProduct()">Actualizar Producto</button>
      </div>
    </div>
  </div>
</div>
