/* You can add global styles to this file, and also import other style files */

@import url("assets/vendor/bootstrap/css/bootstrap.min.css");
@import url("assets/vendor/venobox/venobox.css");
@import url("assets/vendor/font-awesome/css/font-awesome.min.css");
@import url("assets/css/style.css");
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@font-face {
    font-family: "Google-Font";
    src: local("Google-Font"), url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap') format("truetype");
}
body {
    overflow-x:hidden !important;
    font-family: "Google-Font"
 }

.center {
    display: flex;
    justify-content: center;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.bg-success{
    background-color: #0D3918 !important
}
.btn-success{
    background-color: #0D3918 !important;
}

.btn-success:hover{
    background-color: #041408 !important;
}

.btn-primary{
    background-color: #FF9501 !important;
    border: none;
}

.btn-primary:hover{
    background-color: #A66100 !important;
    border: none;
}


.btn-danger{
    background-color: #823232 !important;
}

.btn-danger:hover{
    background-color: #3D1717!important;
}

.text-success{
    color:#0D3918 !important;
}

.teal-color {
    color:teal;
}

.bg-danger{
    background-color: #823232 !important;
}

.text-primary{
    color: #FF9501  !important;
}

hr{
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}