<ng-container *ngIf="!data">
    <div class="col-md-12 p-0">
      <div class="empty">
        <h1 class="center m-0 p-0 mt-5">Bienvenido a OwnShop</h1> 
        <p class="center m-0 p-0">Al parecer todavia no creas ninguna tienda,</p>
        <p class="center m-0 p-0"> <a [routerLink]="['/newstore']">¿Le gustaria crear una tienda nueva?</a> </p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="data">
    <div class="col-md-12 p-0">

      <div class="full ">
        <h2 class="center" >Tiendas de tu empresa</h2>
        <div class="row center">
          <ng-container *ngFor="store of stores">
          <div class="card m-2" style="width: 18rem;">
          <img class="card-img-top" src="assets/img/cover.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Coco Store</h5>
              <p class="card-text">Descripcion de la tienda</p>
              <a href="#" class="btn btn-success m-1">Administrar</a>
            </div>
          </div>
        </ng-container>
        </div>
        
        

      </div> 




    </div>
  </ng-container>


<app-footer class="fixed-bottom"></app-footer>

  


