
<ng-container *ngIf="data" >
    <div class="col-md-12 p-0 mb-5 mt-5">
      <ng-container *ngIf="!maxStores">
      <div class="col-md-12 text-right">
        <a [routerLink]="['/newstore']">
          <button class="btn btn-success">Crear Tienda</button>
      </a>
      </div>
      </ng-container>
      <ng-container *ngIf="maxStores">
        <div class="col-md-12 text-right">
          <span style="color:red">Ha alcanzado su limite maximo de tiendas</span>
        </div>
        </ng-container>
      <div class="full ">
        <h2 class="center mb-3 mt-3" >Tiendas de tu empresa</h2>
        <div class="row center">
          <ng-container *ngFor="let store of stores">
          <div class="card m-2 col-md-4 col-lg-3 col-xl-3 col-sm-12 col-xs-12 " style="width: 18rem;">
          <img class="card-img-top" src="assets/img/cover.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{store.storeName}}</h5>
              <p class="card-text">{{store.storeDescription}}</p>
              <a [routerLink]="['/editstore', store['_id']]" class="btn btn-success m-1">Administrar</a>
            </div>
          </div>
        </ng-container>
        </div>
        
        

      </div> 

    </div>
</ng-container >


<ng-container *ngIf="!data">
  <div class="col-md-12 p-0">
    <div class="empty">
      <h1 class="center m-0 p-0 mt-5">Bienvenido a OwnShop</h1> 
      <p class="center m-0 p-0">Al parecer todavia no creas ninguna tienda,</p>
      <p class="center m-0 p-0"> <a [routerLink]="['/newstore']">¿Le gustaria crear una tienda nueva?</a> </p>
    </div>
  </div>
</ng-container>


<app-footer class="mt-5 fixed-bottom"></app-footer>

  


