<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Empresas</h4>
        </div>
    </div>
    <div class="col-md-12 border row">
        <div class="col-md-4"><strong>Empresas</strong></div>
        <div class="col-md-4"><strong>Usuario</strong></div>
        <div class="col-md-4"><strong>Fecha Creacion</strong></div>
        <div class="col-md-4"><a [routerLink]="['/profile']">Nombre Empresa </a></div>
        <div class="col-md-4">Nombre Usuario</div>
        <div class="col-md-4">Fecha</div>
    </div>
</div>


