<div class="container">
    <div class="row mt-3">
        <div class="col-md-12 text-left">
            <h2 class="mb-3">Nueva Tienda</h2>
        </div>
            <form [formGroup]="newStoreForm" class="col-md-12 row">
                <div class="col-md-2 mb-3"><label for="">Nombre de la tienda</label> </div>
                <div class="col-md-10 mb-3"><input type="text" class="form form-control" formControlName='storeName'
                        required></div>
                <div class="col-md-2 mb-3"><label for="">Categoria</label> </div>
                <div class="col-md-10 mb-3">
                    <select name="" id="" class="form-control float-left" formControlName='category' required>
                        <option value="Tecnologia" selected>Tecnologia</option>
                        <option value="Vestimenta">Vestimenta</option>
                        <option value="Deportes">Deportes</option>
                        <option value="Muebles">Muebles</option>
                        <option value="Hogar y Jardineria">Hogar y jardineria</option>
                        <option value="Electrodomesticos">Electrodomesticos</option>
                        <option value="Juegos">Juegos</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
                <div class="col-md-12 mb-3">Descripcion</div>
                <div class="col-md-12 mb-3">
                    <textarea name="" id="" cols="30" rows="5" class="form form-control"
                        formControlName='storeDescription' required></textarea>
                </div>
            </form>
        <div class="col-md-12 mt-2">
            <h2 class="mb-5 text-left">Seleccione una plantilla para su pagina principal</h2>
        </div>
        <form [formGroup]="newPageForm" class="col-md-12 row">
            <div class="col-md-2 mb-3"><label for="">Nombre de la pagina</label> </div>
            <div class="col-md-4 mb-3"><input type="text" class="form form-control" formControlName='pageName'
                    required></div>
            <div class="col-md-2 mb-3"><label for="">Tipo de la pagina</label></div>
            <div class="col-md-4 mb-3">
                <select name="" id=""formControlName='pageType' required class="form-control">
                    <option value="main">Pagina Principal</option>
                    <option value="products">Productos</option>
                    <option value="about">Acerca de</option>
                    <option value="sells">Ventas</option>
                    <option value="other">Otros</option>

                </select>
            </div>

        </form>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="m-1 mb-2">
                <div class="card border" style="width: 22rem; height: 22rem;">
                    <img class="card-img-top" height="250px" width="100%" src="assets/img/newTemplate.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Plantilla en blanco</h5>
                        <a  class="btn btn-primary" (click)="newBlankStore()">Seleccionar</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" *ngFor="let template of templates">
            <div class="m-1 mb-2">
                <div class="card border" style="width: 22rem;">
                    <img class="card-img-top" height="250px" width="100%"
                        src="http://127.0.0.1:8888/{{template.img_route}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{template.templateName}}</h5>
                        <a class="btn btn-primary" (click)="newStore(template['_id'])">Seleccionar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>