<div class="col-md-9 text-success mt-1">
    <h3> Agregar Producto</h3>  
</div>
<div class="col-md-3 mb-3">
    <app-addproduct></app-addproduct>
</div>
<div class="col-md-12 text-left">
    <h2 class="m-0">Productos</h2>
</div>
<div class="col-md-12">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td >ProductName</td>
            <td>
              $Dineros
            </td>
            <td>date</td>
            <td><button class="btn btn-success">Editar</button>  </td>
            <td><button class="btn btn-danger">Eliminar</button>  </td>
          </tr>
        </tbody>
      </table>
</div>